*{
    font-family: sans-serif;
    color: white;
}

body{
    background-color: #264653;
}

.section{
    position: absolute;
    width: 1450px;
    height: 544px;
    margin-left: 10px;
    background-color: #2a9d8f;
    box-shadow: black 2px 2px 2px 2px;
    border-radius: 6px;
    
}

.container{
    margin-left: 10px;
    margin-top: 10px;
}

h1{
    color: white;
}